@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway',sans-serif;
    
}
.navbar-area{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(213, 124, 7);
    border-radius: 5px;
    margin: 0 8rem;
   
    
}

.nav-list{
    padding: 1rem;
    color: white;
  
}

.article-dark-blue-bg{
    padding-top: 3rem;
    background-image: url(https://pixabay.com/get/g5726b34dda799b7804d15d2e90cca03904df8ec67b3b2dd035e95fe707775aa2aaafd5d9963471120532612265f3d615.jpg) ;
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 30rem;

    
}
.dark-blue-bg{
    margin: 5rem 10rem;
    text-align: center;

}


.p-gray{
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.711);
    
}